.recommendations_headline {
  margin-top: 30px;
  margin-bottom: 60px;
}

.recommendation_tips {
  color: #00635d;
  cursor: pointer;
}

.recommendations_popup {
  position: absolute;
  left: 22%;
  visibility: hidden;
  border: 5px solid lightgrey;
  border-radius: 3px;
  z-index: 6000;
  background-color: white;
  width: 400px;
}
