/*.fav_content {
  display: none;
}

.fav_content_visible {
  display: block;
}

.fav_content .ui.five.column.grid .books_content {
  display: none;
}

.fav_content .ui.five.column.grid .column.books_content_visible {
  display: block;
}

*/
